.left{
	height:100%;
	padding: 10px;
}
#overview, #ask, #answer{
	width:90%;
	height:100%;
	position: absolute;
}
.hide{
	display: none;
}
#posts{
	height: 90%;
	overflow-y: scroll;
}
img, canvas{
	max-height: 100%;
	max-width: 100%;
}
.answer-btn{
	width: 100%;
	overflow-x: auto;
	bottom: 5px;
}
.post .panel-body{
	height:200px;
}
.post .post-content{
	height: 100%;
}
.top-answer{
	padding:2px;
	border-radius: 2px;
	background-color: #EEEEEE;
}