
.like_button {
	position: relative;
	left: 80%;
}
.left{
	height:100%;
	padding: 10px;
}
.post{
	width:380px;
	display: inline-block;
}
#overview, #ask, #answer{
	width:90%;
	height:100%;
	position: absolute;
}
.text-align-right{
	text-align: right;
}
.hide{
	display: none;
}
#posts{
	height: 90%;
	overflow-y: scroll;
}
img, #myCanvas{
	max-height: 100%;
	max-width: 100%;
}
.answer-btn{
	width: 100%;
	overflow-x: auto;
	bottom: 5px;
}
.post .panel-body{
	height:200px;
}
.post .post-content{
	height: 100%;
}
.top-answer{
	padding:2px;
	border-radius: 2px;
	background-color: #EEEEEE;
}
.list-group{
	margin-bottom: 1px;
}
.answers-container input{
	width:100%;
}
.highlight{
	background-color: yellow;
}
.time-btn{
	color: #4257ca;
    cursor: pointer;
}
.like-btn{
	float: right;
}
.thumb-icon{
	font-size: 15px;
    cursor: pointer;
    margin-right: 10px;
}
.time-label{
	display: inline;
}